body {
    background-color: green;
}
.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    display: block;
    background-color: blue;
    color: gold;
}
